.classes {
	width: 64%;
	margin: 30px auto;
	font-size: 18px;
	line-height: 1.2;
}

.classes div {
	width: 100%;
}

.single-indent {
	margin-left: 3vw;
}

.double-indent {
	margin-left: 6vw;
}

.right {
	float: right;
	margin-right: 3vw;
}

.class-info, .margin {
	margin-top: 30px;
}