.signup {
	width: 70vw;
	margin: 0 auto;
}

.signup p {
	text-align: center;
	font-size: 18px;
	width: 80%;
	margin: 40px auto 0 auto;
	line-height: 1.5;
}

.family-pic {
	background: url("../../../img/family-pic.png");
	background-size: cover;
	height: 25vw;
	width: 31vw;
	min-height: 200px;
	min-width: 260px;
	margin: 30px auto;
}