.women, .me {
	width: 64%;
	margin: 30px auto 50px auto;
}

.my-pic {
	background: url("../../../img/harold.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 17vw;
	width: 23vw;
	margin: 20px auto;
	min-height: 170px;
	min-width: 230px;
}

.woman-pic {
	background: url("../../../img/woman.png");
	background-size: cover;
	height: 20vw;
	width: 10vw;
	min-height: 150px;
	min-width: 75px;
	float: left;
	margin-right: 30px;
}

.women p, .men p, .me p {
	font-size: 18px;
	line-height: 1.2;
	margin-bottom: 10px;
}

.men {
	width: 64%;
	margin: 0 auto 50px auto;
}